<p>
  <strong>Driver:</strong>
  <%= @shipment.driver.first_name %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @shipment.vehicle.license_plate %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @shipment.customer.description %>
</p>

<p>
  <strong>Shipment type:</strong>
  <%= @shipment.shipment_type %>
</p>

<p>
  <strong>Invoice number:</strong>
  <%= @shipment.invoice_number %>
</p>

<p>
  <strong>Cargo checker:</strong>
  <%= @shipment.cargo_checker %>
</p>

<p>
  <strong>Warehouse:</strong>
  <%= @shipment.warehouse %>
</p>

<p>
  <strong>Dock:</strong>
  <%= @shipment.dock %>
</p>

<p>
  <strong>Date:</strong>
  <%= @shipment.date %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @shipment.hour %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @shipment.user.username %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
